.slide1{
  background-image: url("../resources/slide1.png");
  background-size: 100% 100%;
}
.slide2{
  background-image: url("../resources/slide2.png");
  background-size: 100% 100%;
}
.slide3{
  background-image: url("../resources/slide3.png");
  background-size: 100% 100%;
}
.slide4{
  background-image: url("../resources/slide4.png");
  background-size: 100% 100%;
}
@media only screen and (max-width: 500px){
  .slide1{
    background-image: url("../resources/mobile1.png");
    background-size: 100% 100%;
  }
  .slide2{
    background-image: url("../resources/mobile2.png");
    background-size: 100% 100%;
  }
  .slide3{
    background-image: url("../resources/mobile3.png");
    background-size: 100% 100%;
  }
  .slide4{
    background-image: url("../resources/mobile4.png");
    background-size: 100% 100%;
  }
}
