* {
   font-family: tahoma;
   color: white;
}

background {

}


#landing-page {
   background-image: url("https://i.ytimg.com/vi/qQ71RWJhS_M/maxresdefault.jpg");
   height: 900px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   min-height: 100%;

}

.logo {
   top: 20%;
   position: absolute;
   top: 10%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}
