* {
   font-family: tahoma;
   color: white;
   margin: 0;
}

body {
  margin: 0;
}

#landing-page {
   height: 100vh;
   width: 90%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   margin: 0 auto;
}
#page-one {
   background-color: white;
   height: 100vh;
   width: 90%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   margin: 0 auto;
}
#page-two {
   background-color: #ff8f0b;
   height: 100vh;
   width: 90%;
   display: flex;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   margin: 0 auto;
}
#page-three {
   background-color: #6bcde1;
   height: 100vh;
   width: 90%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   margin: 0 auto;
}

.logo {
   top: 30%;
   position: absolute;
   top: 10%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

#homebtn {
   display: none;
   position: fixed;
   bottom: 1%;
   right: 1%;
   z-index: 99;
   border: none;
   background-color: grey;
   cursor: pointer;
   height:50px;
   width: 50px;
   padding: 15px;
   padding-top: 10px;
   border-radius: 5px;
   opacity: 0.8;
   }

#homebtn:hover {
    background-color: #555;
}
.scrollToTop {
	width:30px;
	height:30px;
	padding:10px;
	color: #444;
	text-decoration: none;
	position:fixed;
   top: 92%;
   left: 91%;
	display:none;
	background-color: black;
   opacity: 0.6;
   border-radius: 5px;
   text-align: center;
}


.fa-angle-double-up {
   color: white;
   font-size: 30px;
}
/*.btn-down {
	background-color: grey;
	border: 5px;
	border-radius: 7px;
	color: white;
	padding: 17px 23px;
	text-decoration: none;
	display: inline-block;
	opacity: 0.8;
}
.btn-down {
	background-color: lightgrey;
	color: white;
	opacity: 1.0;
}*/

/*.topbtn {
   background-color: yellow;
   width: 50px;
   height: 50px;
}*/

/* NAVBAR*/
.topnav {
	overflow: hidden;
	background-color: transparent;
	font-family: verdana;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 16px;
}
.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 10px 10px;

}
.topnav a:hover {
	background-color: transparent;
	color: #0083b3;
}
.topnav .icon {
    display: none;
}

.current {
	text-decoration: underline;
	color: #0083b3;
}

/*TEST HÄR*/
