* {
   margin: 0;
}

img {
   height: 100%;
   max-height: 100vh;
   width: 100%;
   max-width: 100%;
   background-size: cover;
   background-position: center center;
   position: relative;
}
p {
   /*background-color: black;*/
   background: rgba(0, 0, 0, 0.8);
   color: white;
   display: inline;
   padding-left: 5px;
   padding-right: 5px;
   text-decoration: italic;

}

/* Logo img on page 1 */
.logo-small {
   width: 200px;
   margin-bottom: 10px;
}
/* Logo img on last page */
.logo-big {
   width: 300px;
   height: 70px;
   position: absolute;
   top: 20%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

.text-box1 {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.text-box2 {
   position: absolute;
   top: 50%;
   left: 5%;
}

.text-box3 {
   position: absolute;
   top: 30%;
   right: 5%;
}

.text-box4 {
   position: absolute;
   top: 30%;
   left: 5%;
}

.stor-text {
   font-family: tahoma;
   font-size: 45px;
   margin-top: 2px;
   padding-left: 15px;
   padding-right: 15px;
}
@media only screen and (max-width: 500px) {
    .stor-text {
   font-size: 25px;
    }
}

.liten-text {
   color: black;
   margin-top: 3px;
   padding-left: 20px;
   font-size: 26px;
}

#section1 {
   background-image: url("../img/Website_01 UT.png");
   height: 100%;
   max-height: 100%;
   width: 100%;
   max-width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;
}

#section2 {
   background-image: url("../img/Website_02 UT.png");
   height: 100%;
   max-height: 100%;
   width: 100%;
   max-width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}

#section3 {
   /*width: 100%;
   height: 100%;
   position: relative;*/
   background-image: url("../img/Website_03 UT.png");
   height: 100%;
   max-height: 100%;
   width: 100%;
   max-width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}

#section4 {
   /*width: 100%;
   height: 100%;
   position: relative;*/
   background-color: white;
   /*background-image: url("../img/Website_04_slide01 MT.png");*/
   height: 100%;
   max-height: 100%;
   width: 100%;
   max-width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}
#section5 {
   /*width: 100%;
   height: 100%;
   position: relative;*/
   background-image: url("../img/lastpage.jpg");
   height: 100%;
   max-height: 100%;
   width: 100%;
   max-width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}

/* SLIDESHOW */
.slider {
  max-width: 100%;
  height: 100%;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
   background: url("../img/Website_04_slide01 MT.png")no-repeat center;
   background-size: cover;
   animation:fade 12s infinite;
   -webkit-animation:fade 12s infinite;
   animation-duration: 7s;
}
.slide2 {
   background: url("../img/Website_02 MT.png")no-repeat center;
   background-size: cover;
   animation:fade2 12s infinite;
   -webkit-animation:fade2 12s infinite;
   animation-duration: 7s;
}
.slide3 {
   background: url("../img/Website_03 MT.png")no-repeat center;
   background-size: cover;
   animation:fade3 12s infinite;
   -webkit-animation:fade3 12s infinite;
   animation-duration: 7s;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
