* {
   font-family: tahoma;
   color: white;
   margin: 0;
}

body {
   background-color: black;
}

p {
   color: black;
   margin-top: 20px;
}

img {
   width: 100%;
   max-width: 100%;
   height: 100%;
   max-height: 100%;
}


/* SCROLL SNAPPING */


/* BUTTON HOVER EFFECT */

#page-one {
   /*background-image: url("../img/1.jpg");*/
   height: 100%;
   max-height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}
#page-two {
   /*background-image: url("../img/2.png");*/
   height: 100%;
   max-height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}
#page-three {
   /*background-image: url("../img/autumn.jpg");*/
   height: 100%;
   max-height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}
#page-four {
   /*background-image: url("../img/footer.png");*/
   height: 100%;
   max-height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;
}

.logo {
   top: 30%;
   position: absolute;
   top: 10%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

#homebtn {
   display: none;
   position: fixed;
   bottom: 1%;
   right: 1%;
   z-index: 99;
   border: none;
   background-color: grey;
   cursor: pointer;
   height:50px;
   width: 50px;
   padding: 15px;
   padding-top: 10px;
   border-radius: 5px;
   opacity: 0.8;
   }

#homebtn:hover {
    background-color: #555;
}
.scrollToTop {
	width:30px;
	height:30px;
	padding:10px;
	color: #444;
	text-decoration: none;
	position: relative;
   top: 92%;
   left: 91%;
	display:none;
	background-color: black;
   opacity: 0.6;
   border-radius: 5px;
   text-align: center;
}
.scrollToTop: hover {

}

.fa-angle-double-up {
   color: white;
   font-size: 30px;
}

/* SOCIAL MEDIA BUTTONS */
.fa {
	font-size: 30px;
	top: 100%;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
   color: black;
   background-color: white;
   border: 2px solid black;
}
.fa-facebook {
	opacity: 0.8;
	background: black;
	color: white;
	border-radius: 25%;
	width: 65px;
	height: 65px;
   padding-top: 18px;
   padding-left: 18px;
}
.mediabtn {
	position: absolute;
   top: 56%;
   left: 25%;
}
